/*GENERAL*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #30343f;
}
/*ENCABEZADO*/
.encabezado {
  background-color: #191e2b;
  height: 125px;
  width: 100%;
}
h1 {
  color: white;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
nav {
  display: flex;
  justify-content: center;
}
.botonNav {
  background-color: transparent;
  height: 36px;
  width: fit-content;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 10px;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

/*hover*/
.botonNav:hover {
  background-color: #4e5565;
}

/*MEME*/
main {
  display: flex;
  justify-content: center;
}
.meme {
  margin: 20px;
  height: 700px;
  width: 610px;
  background-color: black;
}
.textT {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 85px;
}
.textB {
  display: flex;
  justify-content: center;
  margin-top: 527px;
  background-color: white;
  height: 85px;
}
h2 {
  color: black;
  font-size: 36px;
  padding: 18px;
}
